body {
background-color: rgb(200,200,200);}
h1 {
background-color: #8aafc5;}
h5 {
background-color: #8a949a;}
p {
background-color: #99a8b1;}
h1, h2, h5, h6 {
  text-align: justify;}
  font-family: Georgia, serif;}
e {
font-style: italic;}

}